<% provide(:title, "Edit account") %>
<% provide(:main_class_modifier, "--dashboard") %>
<div class="dashboard">
	<aside class="dashboard__sidebar">
		<%= render 'shared/dashboard/user_info' %>
	</aside>
	<section class="dashboard__content">
		<%= render 'shared/dashboard/settings' %>
	</section>
</div>




