<% provide(:title, 'Browse Users') %>
<% provide(:main_class_modifier, "--dashboard") %>
<div class="dashboard">
	<aside class="dashboard__sidebar">
		<%= render 'shared/dashboard/user_info' %>
	</aside>
	<section class="dashboard__content">
		<div class="dashboard__content--users">
			<div class="pagelet">
				<div class="pagelet__header"><i class="fa fa-users"></i>Browse Users</div>
				<div class="pagelet__body">
					<%= will_paginate %>
					<ul class="users-list">
						<% @users.each do |user| %>
							<%= render user %>
					  	<% end %>
					</ul>
					<%= will_paginate %>
				</div>
			</div>
		</div>
	</section>
</div>
