<% provide(:title, @user.name) %>
<% provide(:main_class_modifier, "--dashboard") %>
<div class="dashboard">
	<%= render 'shared/dashboard_sidebar' %>
	<section class="dashboard__content">
		<%= render 'shared/dashboard_post_section' %>
		<%= render 'shared/dashboard_feed_section' %>
	</section>
</div>






