<% provide(:title, @user.name) %>
<% flash.each do |message_type, message| %>
	<div class="alert alert__<%= message_type %>"><%= message %></div>
<% end %>
<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1>