<% provide(:title, @user.name) %>
<% provide(:main_class_modifier, "--dashboard") %>
<div class="dashboard">
	<%= render 'shared/dashboard_sidebar' %>
	<%= render 'shared/dashboard_content' %>
</div>






