// -----------------------------
// Configuration
// -----------------------------

// Default font sizes
$h1__font-size: 40px;
$h2__font-size: 36px;
$h3__font-size: 32px;
$h4__font-size: 28px;
$h5__font-size: 24px;
$h6__font-size: 20px;
$p__font-size: 16px;

// Default layout sizes
$site-width__main: 1000px;

// Default fonts
$site-font__raleway: "Raleway", sans-serif;
$site-font__tisa: "FF-Tisa-Web-Pro", serif;

// Default font weight
$site-font__weight--default: 500;
$site-font__weight--btn: 600;
$site-font__weight--heading: 700;







