// -----------------------------
// Mixins
// -----------------------------

// Sticky footer
@mixin sticky-footer($footer-height, $root-selector: unquote("#root"), $root-footer-selector: unquote("#root_footer"), $footer-selector: unquote("#footer")) {
    html, body {
        height: 100%; 
    }
    #{$root-selector} {
        clear: both;
        min-height: 100%;
        height: auto !important;
        height: 100%;
        margin-bottom: -$footer-height;
        #{$root-footer-selector} {
            height: $footer-height; 
        } 
    }
    #{$footer-selector} {
        clear: both;
        position: relative;
        height: $footer-height; 
    } 
}

// Create embossed effect on buttons
@mixin btn-box-shadow($shadow-height, $shadow-transparency) {
  box-shadow: inset 0 $shadow-height 0 rgba(0,0,0,$shadow-transparency);
}

// Reset padding and margin to 0 (use with unordered lists)
@mixin reset-padding-margin {
	padding: 0;
	margin: 0;
}

// Set common layout properties of content in a container
@mixin content-layout($max-width) {
	max-width: $max-width;
	margin: 0 auto;
}

// Set default style for header in homepage sections
@mixin home-section-heading($font-size, $border-color) {
	display: inline-block;
	font-size: $font-size;
	text-transform: uppercase;
	letter-spacing: 1px;
	padding: 10px 15px;
	border: 3px solid $border-color;
}

// Set default style for opening paragraph
@mixin home-section-opening-paragraph() {
	font-family: $site-font__raleway;
	font-size: 20px;
	line-height: 1.4;
	color: $site-color__body--lighter;
	font-weight: 600;
}

// Default session form heading
@mixin session-form-heading() {
	text-align: center;
	h2 {
		color: $site-color__primary--lighter;
		@include home-section-heading(22px, $site-color__primary--lighter);
	}
}

// Common styles that are used by sign up and sign in forms
@mixin session-form-elements() {
	margin-top: 30px;
	.btn {
		margin-top: 20px;
		width: 100%;
		font-weight: 700;
	}
	label {
		font-size: 18px;
		color: $site-color__body--lighter;
	}
	p {
		color: $site-color__body--lighter;
		font-weight: 700;
		font-size: 18px;
	}
}

// Default secondary form heading
@mixin secondary-form-heading() {
	h3 {
		font-size: 22px;
		border-bottom: 4px solid $site-color__body;
		padding-bottom: 10px;
		margin-bottom: 20px;
		.fa {
			margin-right: 10px;
		}
	}
}

// Toggle content
@mixin nav-toggle($color) {
	font-size: 24px;
	content: attr(data-open);
	font-family: "FontAwesome";
	color: $color;
	display: block;
	text-align: center;
	@include box-sizing(border-box);
}

// Styles for pagination arrows in users page
@mixin pagination-arrows($fa-unicode, $margin) {
	padding: 0 !important;
	&.disabled {
		color: lighten($site-color__body--lighter, 15%);
		&:hover {
			color: lighten($site-color__body--lighter, 15%);
		}
	}
	&:hover {
		border: none;
		color: $site-color__secondary--darker;
	}
	&::before {
		font-size: 28px;
		content: '#{$fa-unicode}';
		font-family: "FontAwesome";
		vertical-align: middle;
		margin: $margin;
	}
}







