<section class="dashboard__content">
	<div class="dashboard__content--post-section">
		<div class="pagelet">
			<div class="pagelet__header"><i class="fa fa-pencil"></i>Post</div>
			<div class="pagelet__body">
				<form class="post-section__form">
					<div class="post-section__form--group">
						<label>Headline<span class="character-count">50 char. left</span></label>
						<input type="text">
					</div>
					<div class="post-section__form--group">
						<label>Choose an event</label>
						<select name="" id="">
							<option value="1 value">1 value</option>
							<option value="2 value">2 value</option>
						</select>
					</div>
					<div class="post-section__form--group">
						<div class="input-group">
							<label>When?</label>
							<input type="text">
						</div>
						<div class="input-group where">
							<div class="input-group">
								<label>Where?</label>
								<input type="text">
							</div>
							<a href="" class="btn btn__info"><i class="fa fa-map-marker"></i></a>
						</div>
					</div>
					<div class="post-section__form--group">
						<label>Your Story<span class="character-count">160 char. left</span></label>
						<textarea rows="3"></textarea>
					</div>
					<a href="#" class="btn btn__lg btn__primary btn__post">Post</a>
				</form>
			</div>
		</div>
	</div>
	<div class="dashboard__content--feed-section">
		<div class="pagelet">
			<div class="pagelet__header"><i class="fa fa-rss"></i>Your Feed</div>
			<div class="pagelet__body">saSAs</div>
		</div>
	</div>
</section>