<% if @user.errors.any? %>
	<div id="error-explanation">
		<div class="alert alert__danger">
			The form contains <%= pluralize(@user.errors.count, "error") %>.
		</div>
		<ul>
		<% @user.errors.full_messages.each do |msg| %>
			<li><i class="fa fa-times-circle"></i><%= msg %></li>
		<% end %>
		</ul>
	</div>
<% end %>