// -----------------------------
// Dashboard -- Content(Home)
// -----------------------------

.dashboard__content {
	width: 660px;
	> * {
		width: 100%;
		margin-bottom: 40px;
		@include box-sizing(border-box);
	}
}

.post-section__form--group {
	@extend %form-group;
	label {
		display: block;
		font-size: 18px;
		color: $site-color__body--light;
		@include clearfix();
	}
	input[type="date"] {
		padding: 10px;
	}
	#char-count__headline,
	#char-count__content {
		float: right;
		color: $site-color__secondary;
		positon: relative;
		&::after {
			content: ' char. left';
			postion: absolute;
			top: 0;
			right: 0;
		}
		&.char-count--danger {
			color: $site-color__red;
		}
	}
}

.input-group {
	&.where {
		@include display(flex);
		@include align-items(flex-end);
		.input-group {
			float: none;
			width: 81%;
			margin-right: 7%;
		}
	}
}

.btn__post {
	margin-top: 10px;
	width: 100%;
}


















