// -----------------------------
// Homepage -- layout
// -----------------------------

.home-feature-content,
.home-newsletter-content,
.site-footer-content {
	padding-left: 15px !important;
	padding-right: 15px !important;
}

// -----------------------------
// Homepage -- features
// -----------------------------

.home-feature-content {
	@include content-layout($site-width__main);
	padding: 50px 0;
	@media (max-width: $site-screen__iphone5s--landscape) {
		padding: 30px 0;
	}
}

.home-feature-content__top {
	text-align: center;
	h2 {
		margin: 0 0 30px 0;
		@include home-section-heading(22px, $site-color__body);
		@media (max-width: $site-screen__iphone5s--landscape) {
			font-size: 18px;
		}
	}
	p {
		@include home-section-opening-paragraph();
		@media (max-width: $site-screen__ipad--portrait) {
			font-size: 16px;
		}
	}
}

.home-feature-content__bottom {
	margin-top: 80px;
	@include display(flex);
	@include align-items(center);
	@media (max-width: $site-screen__iphone5s--landscape) {
		margin-top: 30px;
	}
	@media (max-width: $site-breakpoint__homepage) {
		@include flex-flow(column wrap);
		margin-top: 20px;
	}
}

.home-feature-content__bottom--text {
	@include flex(2);
	color: #555;
	h2 {
		font-size: 32px;
		font-weight: 700;
		@media (max-width: $site-screen__ipad--portrait) {
			font-size: 24px;
		}
		@media (max-width: $site-screen__iphone5s--landscape) {
			font-size: 20px;
		}
	}
	ul {
		padding: 0;
		margin-top: 10px;
		font-size: 22px;
		font-weight: 500;
		@media (max-width: $site-screen__ipad--portrait) {
			font-size: 18px;
		}
	}
	li {
		&::before {
			position: relative;
			top: -1px;
			left: 0;
			font-family: 'FontAwesome';
			font-size: 18px;
			line-height: 24px;
			list-style-position: inside;
			content: '\f058';
			margin-right: 10px;
			@media (max-width: $site-screen__ipad--portrait) {
				font-size: 14px;
			}
		}
	}
	@media (max-width: $site-breakpoint__homepage) {
		@include order(2);
	}
}

.home-feature-content__bottom--image {
	@include flex(1);
	text-align: right;
	margin: 0;
	svg {
		@include size(160px);
		vertical-align: middle;
		@media (max-width: $site-breakpoint__homepage) {
			@include size(120px);
		}
		@media (max-width: $site-screen__iphone--landscape) {
			@include size(90px);
		}
	}
	@media (max-width: $site-breakpoint__homepage) {
		@include order(1);
		margin-bottom: 20px;
	}
}

// News section specific styles
#home-feature__news {
	background-color: $site-color__secondary;
	color: $site-color__secondary--darkest;
	.home-feature-content__top {
		h2 {
			border: 3px solid $site-color__secondary--darkest;
		}
		p {
			color: $site-color__secondary--darkest;
		}
	}
	.home-feature-content__bottom--text {
		color: $site-color__secondary--darkest;
		text-align: right;
		@media (max-width: $site-breakpoint__homepage) {
			text-align: left;
		}
	}
	.home-feature-content__bottom--image {
		text-align: left;
	}
}

// Organziation section specific styles
#home-feature__organizations {
	background-color: $site-color__primary;
	color: $site-color__primary--lighter;
	.home-feature-content__top {
		h2 {
			border: 3px solid $site-color__primary--lighter;
		}
		p {
			color: $site-color__primary--lighter;
		}
	}
	.home-feature-content__bottom--text {
		color: $site-color__primary--lighter;
	}
}

// -----------------------------
// Homepage -- newsletter
// -----------------------------

.home-newsletter-content {
	padding: 50px 0;
	text-align: center;
	@include content-layout($site-width__main);
	h2 {
		margin: 0 0 30px 0;
		@include home-section-heading(22px, $site-color__body);
		@media (max-width: $site-screen__iphone--landscape) {
			font-size: 18px;
			max-width: 200px;
		}
	}
	p {
		@include home-section-opening-paragraph();
		@media (max-width: $site-screen__ipad--portrait) {
			font-size: 16px;
		}
	}
}

.home-newsletter-content__form {
	margin: 50px 0 0 0;
	input {
		display: inline-block;
		max-width: 350px;
		margin: 0 20px 0 0;
		padding: 20px;
		vertical-align: middle;
		font-size: 20px;
		@media (max-width: $site-screen__iphone5s--landscape) {
			max-width: 200px;
			margin: 0 10px 0 0;
			padding: 15px;
			font-size: 18px;
		}
		&.btn {
			@media (max-width: $site-screen__iphone5s--landscape) {
				padding: 16px;
				font-size: 19px;
			}
			@media (max-width: $site-screen__iphone--landscape) {
				display: block;
				margin: 20px auto 0 auto;
			}
		}
	}
	@media (max-width: $site-screen__iphone5s--landscape) {
		margin-top: 30px;
	}
}











