<div class="dashboard__sidebar--settings-menu">
	<ul>
		<li>
			<%= link_to '<i class="fa fa-cog"></i>Account<i class="fa fa-angle-right"></i>'.html_safe, edit_user_path(current_user), class: "account-item" %>
		</li>
		<li>
			<a class="notifications-item" href=""><i class="fa fa-exclamation-circle"></i>Notifications<i class="fa fa-angle-right"></i></a>
		</li>
		<li>
			<a class="help-item" href=""><i class="fa fa-question-circle"></i>Help<i class="fa fa-angle-right"></i></a>
		</li>
		<li>
			<%= link_to '<i class="fa fa-sign-out"></i>Sign Out<i class="fa fa-angle-right"></i>'.html_safe, logout_path, class: "signout-item", method: "delete" %>
		</li>
	</ul>
</div>