<div class="dashboard__content--feed-section">
	<div class="pagelet">
		<div class="pagelet__header"><i class="fa fa-rss"></i>Your Feed</div>
		<div class="pagelet__body">
		    <% if @feed_items.any? %>
			  	<ul class="posts-list">
			  		<%# sync_new partial: 'micropost', resource: @micropost, scope: @feed_items %>
			  		<%= render @feed_items %>
			  	</ul>
			  <%= will_paginate @feed_items %>
			<% end %>
		</div>
	</div>
</div>