<section class="home-feature" id="home-feature__local">
	<div class="home-feature-content">
		<div class="home-feature-content__top">
			<h2>Local</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio adipisci nam minima expedita, amet quis fugiat, earum. Dolor esse accusamus ducimus, eligendi neque, consequatur ipsa blanditiis totam unde odio odit.</p>
		</div>
		<div class="home-feature-content__bottom">
			<div class="home-feature-content__bottom--text">
				<h2>Secondary heading number one something</h2>
				<ul>
					<li>Lorem ipsum dolor sit amet.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
				</ul>
			</div>
			<figure class="home-feature-content__bottom--image">
				<%= embedded_svg "map.svg" %>
			</figure>
		</div>
	</div>
</section>
<section class="home-feature" id="home-feature__news">
	<div class="home-feature-content">
		<div class="home-feature-content__top">
			<h2>News and Events</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio adipisci nam minima expedita, amet quis fugiat, earum. Dolor esse accusamus ducimus, eligendi neque, consequatur ipsa blanditiis totam unde odio odit.</p>
		</div>
		<div class="home-feature-content__bottom">
			<figure class="home-feature-content__bottom--image">
				<%= embedded_svg "news.svg" %>
			</figure>
			<div class="home-feature-content__bottom--text">
				<h2>Secondary heading number one something</h2>
				<ul>
					<li>Lorem ipsum dolor sit amet.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
				</ul>
			</div>
		</div>
	</div>
</section>
<section class="home-feature" id="home-feature__organizations">
	<div class="home-feature-content">
		<div class="home-feature-content__top">
			<h2>For Everyone</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio adipisci nam minima expedita, amet quis fugiat, earum. Dolor esse accusamus ducimus, eligendi neque, consequatur ipsa blanditiis totam unde odio odit.</p>
		</div>
		<div class="home-feature-content__bottom">
			<div class="home-feature-content__bottom--text">
				<h2>Secondary heading number one something</h2>
				<ul>
					<li>Lorem ipsum dolor sit amet.</li>
					<li>Lorem ipsum dolor sit amet, consectetur.</li>
					<li>Lorem ipsum dolor sit amet, consectetur adipisicing.</li>
				</ul>
			</div>
			<figure class="home-feature-content__bottom--image">
				<%= embedded_svg "store.svg" %>
			</figure>
		</div>
	</div>
</section>